.grid-gallery {
  margin: 0 auto;
  max-width: 1184px;
  min-height: 855px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  padding: 92px 0;
  box-sizing: border-box;
}
