.header__lang-link {
  min-width: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:hover{
  opacity: .8;
}


@media all and (max-width: 767px) {
  .header__lang-link {
    min-width: 22px;
    font-size: 1.125rem;
    line-height: 1.25rem;
}
}