.body {
  font-family: Inter, 'Arial', sans-serif;
  background-color: #2A2C2F;
  color: #fff;
  padding: 0 48px 24px;
  max-width: 1280px;
  padding: 0 0 24px;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media all and (max-width: 1279px)  {
  .body {
    max-width: 1024px;
    padding: 0 0 24px;
  }
}


@media all and (max-width: 1023px) {
  .body {
    max-width: 768px;
  }
}

@media all and (max-width: 767px) {
  .body {
    max-width: 320px;
    padding: 0 0 24px;
  }
}