.page {
  padding: 0 48px 24px;
  max-width: 1280px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media all and (max-width: 1279px)  {
  .page {
    max-width: 1024px;
    padding: 0 0 24px;
  }
}


@media all and (max-width: 1023px) {
  .page {
    max-width: 768px;
    padding: 0 0 24px;
    margin: 0 auto;
  }
}

@media all and (max-width: 767px) {
  .page {
    max-width: 320px;
    padding: 0 0 24px;
    margin: 0 auto;
  }
}