.project-info__img {
  margin: 0 auto;
  z-index: 2;
  opacity: 0.7;
  width: 1184px;
  height: 740px;
}

@media all and (max-width: 1024px) {
  .project-info__img {
    width: 1024px;
    height: 640px;
  }
}

@media all and (max-width: 768px) {
  .project-info__img {
    width: 768px;
    height: 480px;
  }
}

@media all and (max-width: 320px) {
  .project-info__img {
    width: 320px;
    height: 200px;
  }
}