.project-info__link-heading {
  font-weight: bold;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  width: 560px;
  text-align: center;
}

@media all and (max-width: 1023px) {
  .project-info__link-heading {
    width: 560px;
    font-size: 4.5rem;
    line-height: 4.75rem;
  }
}

@media all and (max-width: 767px) {
  .project-info__link-heading {
    width: 288px;
    font-size: 2rem;
    line-height: 2.2rem;  
}
}