.project-info__link-heading {
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 auto;
  width: 100%;
  max-width: 560px;
  text-align: center;
}

@media all and (max-width: 1023px) {
  .project-info__link-heading {
    font-size: 4.5rem;
    line-height: 4.75rem;
  }
}

@media all and (max-width: 767px) {
  .project-info__link-heading {
    font-size: 2rem;
    line-height: 2.2rem;  
}
}