.title {
  margin: 56px 0 0;
  width: 720px;
  min-height: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 6rem;
  line-height: 100px;
}


@media all and (max-width: 1024px) {
  .title {
    margin: 48px 0 0;
  }
}

@media all and (max-width: 768px) {
  .title {
    margin: 48px 0 0;
  }
}

@media all and (max-width: 320px) {
  .title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    width: 288px;
    min-height: 88px;
  }
}