.title {
  margin: 56px 0 0;
  width: 100%;
  max-width: 720px;
  min-height: 200px;
  text-align: center;
  font-weight: 900;
  font-size: 6rem;
  line-height: 100px;
}


@media all and (max-width: 1279px) {
  .title {
    margin: 48px 0 0;
  }
}

@media all and (max-width: 767px) {
  .title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    min-height: 88px;
  }
}