.paragraph_place_info {
  font-size: 18px;
  max-width: 360px;
  line-height: 22px;
  text-align: center;
  margin: 32px auto 0;
}

@media all and (max-width: 1023px) {
  .paragraph_place_info {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 767px) {
  .paragraph_place_info {
    font-size: 0.88rem;
    line-height: 1rem;  
}
}