.paragraph_place_footer {
  font-size: 0.88rem;
  line-height: 0.88rem;
  width: 186px;
  position: absolute;
  right: 48px;
  bottom: 2px;
  margin: 0;
  text-align: end;
}

@media all and (max-width: 1279px) {
  .paragraph_place_footer {
    right: 48px;
}
}

@media all and (max-width: 1023px) {
  .paragraph_place_footer {
    right: 24px;
}
}

@media all and (max-width: 767px) {
  .paragraph_place_footer {
    left: 0;
    bottom: 0;
    padding-left: 16px;
    text-align: start;
}
}