.header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 1024px) {
  .header {
    padding: 0 48px;
  }
}

@media all and (max-width: 768px) {
  .header {
    padding: 0 24px;
  }
}

@media all and (max-width: 320px) {
  .header {
    padding: 0 16px;
  }
}