.project-info__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 740px;
  width: 100%;
  background-size: cover;
  background-image: url(../../../images/footer-photo.png);
  background-position: center;
  margin: 0 auto;
  position: relative;
}

.project-info__link::before {
  content: '';
  display: block;
  width: inherit;
  min-height: inherit;
  background: rgba(42, 44, 47, .3);
  position: absolute;
} 

.project-info__link:hover::before {
  content: '';
  display: block;
  width: inherit;
  min-height: inherit;
  background: rgba(42, 44, 47, .8);
  position: absolute;
}

@media all and (max-width:1279px) {
  .project-info__link {
    min-height: 62.5vmax;
  }
}

@media all and (max-width:767px) {
  .project-info__link {
    min-height: 62.5vmin;
  }
}