.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.footer__link:hover{
  opacity: 0.2;
}


@media all and (max-width: 1279px) {
  .footer__link {
    font-size: 1rem;
    line-height: 1.125rem;

  }
}

@media all and (max-width: 1023px) {
  .footer__link {
    font-size: 1rem;
    line-height: 1.125rem;
  }
}

@media all and (max-width: 767px) {
  .footer__link {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}