.place-card__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  width: 456px;
  min-height: 22px;
  margin: 12px 0 0 0;
}


@media all and (max-width: 768px) {
  .place-card__link {
    width: 352px;
  }
}

@media all and (max-width: 320px) {
  .place-card__link {
    width: 288px;
  }
}