.intro__photo {
  width: 100%;
  margin: 0 auto;
}

@media all and (max-width: 1024px) {
  .intro__photo {
    width: 928px;
  }
}

@media all and (max-width: 768px) {
  .intro__photo {
    width: 768px;
    margin: 0 -24px;  
  }
}

@media all and (max-width: 320px) {
  .intro__photo {
    width: 320px;
    margin: 0 -16px;
  }
}