.intro__photo {
  width: 100%;
  margin: 0 auto;
}


@media screen and (max-width: 1024) {
  .intro__photo {
    width: 928px;
    padding-bottom: 100%;
  }
}


@media screen and (max-width: 768) {
  .intro__photo {
    width: 100%;
    padding-bottom: 480px;
  }
}