.subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  width: 640px;
  min-height: 72px;
  margin: 32px 0 64px;
}


@media all and (max-width: 1279px) {
  .subtitle {
    margin: 32px 0 56px;
  }
}

@media all and (max-width: 1023px) {
  .subtitle {
    margin: 32px 0 56px;
  }
}

@media all and (max-width: 767px) {
  .subtitle {
    font-size: 1rem;
    line-height: 1.25rem;
    width: 288px;
    min-height: 40px;
    margin: 16px 0 40px;
  }
}