.place-card__text-block {
  gap: 26px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 1279px) {
  .place-card__text-block {
    gap: 26px;
  }
}


@media all and (max-width: 1023px) {
  .place-card__text-block {
    gap: 25px;
  }
}

@media all and (max-width: 767px) {
  .place-card__text-block {
    gap: 25px;
    margin-top: 0;
    padding: 0 16px;
  }
}