.project-info {
  width: calc(100% - 48px*2);
  min-height: 740px;
  margin: 92px auto;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/footer-photo.png);
  background-size: cover;
}

@media all and (max-width: 1279px) {
  .project-info {
    width: 100%;
    margin: 92px 0;
    min-height: 62.5vmax;
  }
}

@media all and (max-width: 1023px) {
  .project-info {
    margin: 90px 0 88px;
  }
}

@media all and (max-width: 767px) {
  .project-info {
    margin: 66px 0 64px;
  min-height: 62.5vmin;
  }
}