@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/content/content.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang/header__lang.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/_place/logo_place_header.css);
@import url(../blocks/link/link.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__photo/lead__photo.css);
@import url(../blocks/lead/__svg/lead__svg.css);
@import url(../blocks/lead/__photo-block/lead__photo-block.css);
@import url(../blocks/lead/__photo-signature/lead__photo-signature.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__heading/intro__heading.css);
@import url(../blocks/intro/__paragraph/intro__paragraph.css);
@import url(../blocks/paragraph/paragraph.css);
@import url(../blocks/feature-list/feature-list.css);
@import url(../blocks/feature-list/__span/feature-list__span.css);
@import url(../blocks/grid-gallery/grid-gallery.css);
@import url(../blocks/grid-gallery/__list/grid-gallery__list.css);
@import url(../blocks/grid-gallery/__item/grid-gallery__item.css);
@import url(../blocks/list-of-places/list-of-places.css);
@import url(../blocks/place-card/place-card.css);
@import url(../blocks/place-card/__direction-container/place-card__direction-container.css);
@import url(../blocks/place-card/__place-heading/place-card__place-heading.css);
@import url(../blocks/place-card/__paragraph/place-card__paragraph.css);
@import url(../blocks/place-card/__link-block/place-card__link-block.css);
@import url(../blocks/place-card/__link-heading/place-card__link-heading.css);
@import url(../blocks/place-card/__link/place-card__link.css);
@import url(../blocks/place-card/__place-img/place-card__place-img.css);
@import url(../blocks/place-card/__text-block/place-card__text-block.css);
@import url(../blocks/project-info/project-info.css);
@import url(../blocks/project-info/__img/project-info__img.css);
@import url(../blocks/project-info/__link-heading/project-info__link-heading.css);
@import url(../blocks/project-info/__link/project-info__link.css);
@import url(../blocks/project-info/__paragraph/project-info__paragraph.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__paragraph/footer__paragraph.css);
@import url(../blocks/footer/__links-list/footer__links-list.css);
@import url(../blocks/footer/__link/footer__link.css);
