.place-card {
  margin: 0  auto;
  max-width: 1184px;
  padding: 0 100px;
  box-sizing: border-box;
}


@media all and (max-width: 1279px) {
  .place-card{
    width: 100%;
    padding: 0 48px;  
  }
}

@media all and (max-width: 1023px) {
  .place-card{
    width: 100%;
    padding: 0 24px;
  }
}

@media all and (max-width: 767px) {
  .place-card {
    width: 100%;
    padding: 0;
  }
}