.project-info__paragraph {
  font-size: 18px;
  max-width: 360px;
  line-height: 22px;
  text-align: center;
  margin: 32px auto 0;
  position: relative;
}

@media all and (max-width: 1023px) {
  .project-info__paragraph {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
}

@media all and (max-width: 767px) {
  .project-info__paragraph {
    font-size: 0.88rem;
    line-height: 1rem;  
    margin: 16px auto 0;
    max-width: 288px;
  }
}