.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 48px;
  justify-content: space-between;
}

@media all and (max-width: 1023px) {
  .footer {
    padding: 0 24px;
  }
}

@media all and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 0 16px;
}
}