.footer {
  position: relative;
  display: flex;
  flex-direction: row;
}

@media all and (max-width: 1024px) {
  .footer {
    padding: 0 48px;
  }
}

@media all and (max-width: 768px) {
  .footer {
    padding: 0 24px;
  }
}

@media all and (max-width: 320px) {
  .footer {
    flex-direction: column;
}
}