.intro__heading {
  margin: 92px 0 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  width: 100%;
  min-height: 58px;
}


@media all and (max-width: 1023px) {
  .intro__heading {
    min-height: 58px;
    margin: 88px 0 0;
  }
}

@media all and (max-width: 767px) {
  .intro__heading {
    min-height: 70px;
    font-size: 2rem;
    line-height: 2.2rem;
    margin: 64px 0 0;
  }
}