.place-card__direction-container {
  display: flex;
  flex-direction: row;
  width: 984px;
}


@media all and (max-width: 1024px) {
  .place-card__direction-container {
    width: 928px;
  }
}

@media all and (max-width: 768px) {
  .place-card__direction-container {
    width: 720px;
    justify-content: space-between;
  }
}

@media all and (max-width: 320px) {
  .place-card__direction-container {
    flex-direction: column;
    width: 288px;
  }
}