.intro__svg {
  position: absolute;
  top: 10%;
  left: 0;
  padding: 24px;
}

@media all and (max-width: 1279px) {
  .intro__svg {
    width: 884px;
  }
}

@media all and (max-width: 1023px) {
  .intro__svg {
    width: 731px;
    padding: 0;
  }
}

@media all and (max-width: 767px) {
  .intro__svg {
    width: 305px;
    left: -8px;
    padding: 0;
  }
}