.lead__svg {
  position: absolute;
  top: 10%;
  left: 0;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
}

@media all and (max-width: 1023px) {
  .lead__svg {
    padding: 18px;
  }
}

@media all and (max-width: 767px) {
  .lead__svg {
    padding: 8px;
  }
}